.root {
    -fx-background-color: #121212;
    -fx-text-fill: #eeeeee;
}

.label {
    -fx-text-fill: #eeeeee;
}

.button {
    -fx-background-color: #424242;
    -fx-text-fill: #ffffff;
}

.vbox, .hbox {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.1), 8, 0, 0, 2);
}
