.root {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
}

.label {
    -fx-text-fill: #333333;
}

.button {
    -fx-background-color: #1D2A51;
    -fx-border-color: cyan;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: white;
}

.vbox, .hbox {
    -fx-background-color: #fafafa;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0, 0, 2);
}

.view-root {
    -fx-background-color: #f5f5f5;
}

.nav-label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 5 10;
    -fx-cursor: hand;
}

.welcome-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #0d47a1;
}

.section-header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #0d47a1;
    -fx-underline: true;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #dddddd;
    -fx-padding: 15;
    -fx-spacing: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0, 0, 2);
    -fx-pref-width: 250;
    -fx-pref-height: 220;
}

.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #0d47a1;
}


.card-label {
    -fx-font-size: 13px;
    -fx-text-fill: #555555;
}

.card ImageView {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0, 0, 1);
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}